@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Shavian&display=swap');

@font-face{
    font-family:tauhu-oo;
    src: url(https://tauhu.tw/TauhuOo20.05-Regular.woff2) format("woff2"),
    url(https://tauhu.tw/TauhuOo20.05-Regular.woff) format("woff"),
    url(https://tauhu.tw/TauhuOo20.05-Regular.otf) format("opentype");
}

:root {
    --primary-color: #047aed;
    --secondary-color: #006cd8;
    --tertiary-color: #0068cf;
    --quatenary-color: #0055aa;
    --background-color: #f4e0ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:lang(nan) {
    font-family: tauhu-oo;
}

:lang(zh-Hant) {
    font-family: "Noto Sans TC", sans-serif;
}

em:lang(zh-Hant) {
    font-style: normal;
    text-emphasis: dot;
    -webkit-text-emphasis: dot;
    text-emphasis-position: under;
    -webkit-text-emphasis-position: under; 
}

:lang(en) {
    font-family: "Noto Sans", sans-serif;
}

:lang(en-Shaw) {
    font-family: "Noto Sans Shavian", sans-serif;
}

q:lang(en) {
    quotes: "“" "”" "‘" "’" "«" "»" "‹" "›";
}

q:lang(zh) {
    quotes: "「" "」" "『" "』" "“" "”" "‘" "’";
}

body {
    line-height: 1.6;

    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    border-bottom: 1px var(--primary-color) solid;
}

/* NAVBAR */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: auto;
    padding: 6px 0px;
    top: 0;
    width: 100%;
}

.navbar .container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .container nav ul li {
    display: inline;
    float: left;
    border-radius: 8px;
}

.navbar .container nav ul li {
    transition: 0.5s;
    color: #fff;
    transition-timing-function: ease;
}

.navbar .container nav ul li a {
    color: #fff;
    padding: 10px 10px;
    transition: 0.5s;
    border-radius: 8px;
    transition-timing-function: ease;
}

.navbar .container nav ul li a:hover {
    color: #fff;
    border-bottom: none;
    background-color: var(--secondary-color);
    transition: 0.5s;
    transition-timing-function: ease;
}

.dropbtn:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0463BF;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content li {
    padding: 0 !important;
}

.dropdown-content li a {
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.current a {
    background-color: var(--tertiary-color);
}

/* END NAVBAR */

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.home1 {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nojs-alert {
    background-color: indianred;
    border-top: 1px firebrick solid;
    border-bottom: 1px firebrick solid;
    padding: 10px 20px;
}

/* small screens */
@media(max-width: 822px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    
    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column
    }

    .navbar .container nav {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--quatenary-color);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    .current a {
        background-color: inherit;
    }
}